[Unit]
Description=<name>
After=network.target

[Service]
WorkingDirectory=/home/<user>/<name>
ExecStart=/usr/bin/npm start -- start
Restart=on-failure
User=<user>

[Install]
WantedBy=multi-user.target